<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 이전 버전의 기기에서 레거시 블루투스 권한을 요청합니다.-->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- 블루투스 장치를 찾는 경우에만 필요합니다.-->
    <!-- 앱이 블루투스 스캔 결과를 사용하여 물리적 위치 정보를 파생하지 않는 경우-->
    <!-- 앱이 물리적 위치를 파생하지 않는다고 단언할 수 있습니다.-->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <!-- 블루투스 장치가 다른 장치에서 검색할 수 있도록 만드는 경우에만 필요합니다.-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- 앱이 이미 페어링된 블루투스 장치와 통신하는 경우에만 필요합니다.-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!--    앱이 서비스를 지원하고 Android 10 (API 수준 29) 또는 Android 11에서 실행할 수 있는 경우,
    ACCESS_BACKGROUND_LOCATION 권한도 선언하여 블루투스 기기를 검색해야 합니다.-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- 앱이 저전력 블루투스를 사용하는 경우 다음을 사용할 수 있습니다.-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <!-- 앱이 블루투스 스캔 결과를 사용하여 물리적 위치 정보를 파생하는 경우에만 필요합니다.-->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <!--    블루투스가 앱에서 중요한 부분이라면 매니페스트 파일에 이 요구사항을 나타내는 플래그를 추가할 수 있습니다.
    <uses-feature> 요소를 사용하면 앱에서 사용하는 하드웨어의 유형과 필수 여부를 지정할 수 있습니다.-->
    <!--    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bluetoothlib_android"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>